# SUZURI API トークン (https://suzuri.jp/developer/apps で取得)
SUZURI_TOKEN=fhhyEK4mCXI-n9Ft5z1UROenB0hDzRfA9XD6p5e_650

# Hugging Face トークン (https://huggingface.co/settings/tokens で取得)
HF_TOKEN=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
